*{box-sizing: border-box;}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    user-select: none;
}

#containerHud {
    display: none;
    position: absolute;
    bottom: 0.25vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 6.25vh;

}

.icon {
    position: relative;
    height: calc(100% - 2vh);
    aspect-ratio: 1/1;
    margin: 1vh;
    margin-left: 0;
    border-radius: 0.4rem;
    background-color: rgba(255, 255, 255, 0);
}

#icon_armour, #icon_heart, #icon_thirst, #icon_voice, #icon_hunger{
    position: relative;
    height: calc(100% - 2vh);
    aspect-ratio: 1/1;
    margin: 1vh;
    margin-left: 0;
    background-color: rgba(255, 255, 255, 0);

}

#icon_dead{
    display: none;
    position: relative;
    height: calc(100% - 2vh);
    aspect-ratio: 1/1;
    margin: 1vh;
    margin-left: 0;
    background-color: rgba(255, 0, 0, 1);
    border: 0.2rem inset rgb(255, 255, 255);
    border-radius: 0.4rem;
}


.icon_value{
    height: 100%;
    width: 100%;
    border-radius: 0.4rem;
}

.icon_shape {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 2.5vh;
}
